# Environment variables
.env
.env.local
.env*.local

# Dependencies
node_modules
/.pnp
.pnp.js

# Build output
.next
build
dist
out

# Debug & logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
*.pem

# IDE
.vscode
.idea
*.swp
*.swo

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts
